<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Spring Boot File Upload to S3</title>
</head>
<body>
<div align="center">
    <div><h2>Spring Boot File Upload to S3</h2></div>
    <div>
        <form action="upload" enctype="multipart/form-data" method="post">
            <p>
                Description:
                <input name="description" required size="30" type="text"/>
            </p>

            <p>
                <input name="file" required type="file"/>
            </p>

            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
    </div>
</div>
</body>
</html>